<md-content layout="column" flex>

	<md-toolbar layout="row">
		<md-icon
			ui-sref="search"
			class="toolbar-button"
			flex="10"
			md-svg-icon="res/icons/back.svg"
			hide-gt-md
		></md-icon>
		<h1 flex class="md-toolbar-tools" layout-align="center">{{ models.config.consoleName }}</h1>
		<md-icon
			class="toolbar-button"
			flex="10"
			md-svg-icon="res/icons/search.svg"
			hide-gt-md
			ui-sref="search"
		></md-icon>
	</md-toolbar>

	<md-content layout="column" flex ng-swipe-right="methods.openLeftSideNav();" style="overflow:hidden;">

		<div layout layout-padding flex="15">
			<md-select placeholder="Ordenar por:" ng-model="someVal" flex>
				<md-option value="1">Defecto</md-option>
				<md-option value="2">Precio</md-option>
			</md-select>
		</div>
		<md-content layout="column" style="background: #eee;" layout-padding flex>

			<div
				ng-repeat="b in models.buildings"
				class="md-whiteframe-z2"
				layout
				layout-margin
				flex="20"
				style="background: #fff;"
				ng-click="methods.goToBuilding(b.id)"
			>
				<!-- Photo container -->
				<div flex="30" style="background: url({{ b.imagenes[0] }})no-repeat center center;background-size:cover;"></div>
				<!-- Details container -->
				<div flex layout="column">
					<div flex layout="column" layout-align="center start">
						<span class="md-subhead">{{ b.nombre.substring(0,30) }}..</span>
						<span class="md-caption">{{ b.direccion }}</span>
						<span class="md-body-1 md-primary">{{ b.precio || 0 }} {{ b.moneda }}</span>
					</div>
					<div layout style="text-align: center; font-size: 12px;">
						<div flex>{{ b.area_terreno }}m²</div>
						<div flex>{{ b.num_habitaciones }} cuartos</div>
						<div flex>{{ b.num_banos }} baños</div>
					</div>
				</div>
			</div>

			<md-button ng-click="methods.addMoreItems();">Cargar mas</md-button>

		</md-content>

		<form layout="column" flex="30" style="background: rgba(230, 81, 0, 0.1);" layout-align="center center">
			<md-subheader style="background: none;">Ingresa tu email y recibiras ofertas de los mejores inmuebles</md-subheader>
			<div layout="row" layout-align="center center">
				<md-input-container>
					<label>Ingresar email</label>
					<input type="text" ng-model="models.asd">
				</md-input-container>
				<md-button class="md-primary md-raised">Enviar</md-button>
			</div>
		</form>

	</md-content>

</md-content>