<md-content style="background: url(res/bg.jpg)no-repeat center center; background-size: cover;" layout flex ng-swipe-right="methods.openLeftSideNav();">

	<!-- Fields container -->
	<md-content layout="column" style="background-color: rgba(0, 0, 0, 0.7);" flex>

		<!-- Logo container -->
		<div flex="20" layout layout-align="center center">
			<img src="res/logo.png" style="width: 80%;">
		</div>

		<!-- Inputs container -->
		<div layout="column" layout-margin layout-padding flex>

			<div layout style="background: none;" flex="15" layout-align="center center">
				<md-input-container flex>
					<label style="color: #fff;">Código del inmueble</label>
					<input type="text" ng-model="models.searchByBuildingCode">
				</md-input-container>
				<md-button class="md-raised md-primary" ui-sref="building({ buildingId: models.searchByBuildingCode })">Ir</md-button>
			</div>
			<md-content style="background-color: rgba(200, 200, 200, 0.5);" layout="column" flex>
				<md-select placeholder="Inmueble" ng-model="someVal">
					<md-option value="1">Casa</md-option>
					<md-option value="2">Departamento</md-option>
				</md-select>
				<md-select placeholder="Operación" ng-model="someVal2">
					<md-option value="1">Compra</md-option>
					<md-option value="2">Alquiler</md-option>
				</md-select>
				<md-select placeholder="Ciudad" ng-model="someVal3">
					<md-option value="1">Arequipa</md-option>
				</md-select>
				<md-select placeholder="Distrito" ng-model="someVal4">
					<md-option value="1">Cayma</md-option>
					<md-option value="2">Yanahuara</md-option>
					<md-option value="3">Cerro colorado</md-option>
				</md-select>
			</md-content>
			<md-button style="margin-top:5px;" class="md-raised md-primary" ui-sref="list">Buscar</md-button>

		</div>

	</md-content>

</md-content>