<md-content layout="column" flex>

	<md-toolbar layout="row">
		<md-icon
			ui-sref="list"
			class="toolbar-button"
			flex="10"
			md-svg-icon="res/icons/back.svg"
			hide-gt-md
		></md-icon>
		<h1 flex class="md-toolbar-tools" layout-align="center">{{ models.config.consoleName }}</h1>
		<md-icon
			class="toolbar-button"
			flex="10"
			md-svg-icon="res/icons/search.svg"
			hide-gt-md
			ui-sref="search"
		></md-icon>
	</md-toolbar>

	<md-content layout="column" flex ng-swipe-right="asd=123" style="overflow:hidden;">

		<!-- <div flex style="background:orange; position: aboslute; overflow: hidden;"> -->
			<!-- <div equiviewr style="background:green; position: aboslute;" flex></div> -->
		<!-- </div> -->
		<!-- <iframe style="background: #000; border:none;" frameborder="0" src="/www/src/equiviewer?buildingId=12" flex layout></iframe> -->
		<iframe style="background: #000; border:none;" frameborder="0" id="eqcontainer" flex layout></iframe>


		<md-content flex="30" layout="column" layout-padding>
			<div flex layout="column" layout-align="center center">
				<span class="md-title">{{ models.building.nombre }}</span>
				<span class="md-body-1">{{ models.building.direccion }}</span>
				<span class="md-caption">Arequipa</span>
				<span class="md-subhead md-primary">{{ models.building.precio || 0 }} {{ models.building.moneda }}</span>
			</div>
			<div layout style="text-align: center; font-size: 12px;" layout-align="center center">
				<div flex>{{ models.building.area_terreno }}m²</div>
				<div flex>{{ models.building.num_habitaciones }} cuartos</div>
				<div flex>{{ models.building.num_banos }} baños</div>
				<md-button class="md-raised md-primary">Contactar</md-button>
			</div>
		</md-content>

	</md-content>

</md-content>